<!DOCTYPE html>
<html>
<head>
  <title>Airport System</title>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      Hello {{ user.username }} |
      <a href="{% url 'dashboard' %}">Dashboard</a> |
      <a href="{% url 'airport_list' %}">Airports</a> |
      <a href="{% url 'shortest_path' %}">Shortest Path</a> |
      <a href="{% url 'airport_route' %}">Airport Route</a> |
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a> |
      <a href="{% url 'register_user' %}">User Register</a> |
      <a href="{% url 'register_admin' %}">Admin Register</a>
    {% endif %}
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
